.contact-section {
  min-height: 100vh;
  max-height: 100vh;
  background: var(--arc-base);
  box-sizing: border-box;
  border: clamp(0.5rem, 2vw, 2rem) solid white;
  margin: 0 auto;
}

.contact-wrapper {
  margin: 0 auto;
}

.contact-body {
  margin: 0 auto;
  font-size: clamp(0.5rem, 4vw, 1.5rem);
  max-width: 90vw;
  text-align: center;
  color: var(--text);
}

.contact-title {
  margin-bottom: 0.25rem;
  font-size: clamp(3.75rem, 8vw, 5rem);
}

.contact-body-text {
  margin-top: 0;
    font-family: "Chillax", sans-serif;
}


@media (min-width: 48rem) {
  .contact-body {
    max-width: 70vw;
  }
}

@media (min-width: 64rem) {
  .contact-body {
    max-width: 40vw;
  }
}


