/* Hero Section */
.hero-name {
  font-size: clamp(4rem, 12vw, 17rem);
  margin: 0;
}

.hero-sub {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  opacity: 0.8;
}

.hero-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 clamp(1rem, 5vw, 1, 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  gap: clamp(1rem, 6vw, 9rem);
  color: var(--text);
}

.hero-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.hero-btn {
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);

  color: var(--text);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;

  cursor: pointer;
  transition: all 0.3s ease;

  box-shadow:
    0 0 20px rgba(255, 255, 255, 0.08),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
}

.hero-btn:hover {
  transform: translateY(-0.5rem);
  background: rgba(255, 255, 255, 0.1);
  box-shadow:
    0 0 30px rgba(155, 120, 255, 0.4),
    inset 0 0 20px rgba(255, 255, 255, 0.1);
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Project Section */
.projects {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overflow: visible;
  margin-bottom: 10%;
}

/* for zodiac wheel backdrop  */
.projects > div:last-child {
  margin-top: clamp(-20vh, -25vw, -15vh);
  position: relative;
  z-index: 1;
}

/* Tablet */
@media (min-width: 48rem) {
  .projects > div:last-child {
    margin-top: clamp(-25vh, -35vw, -20vh);
  }
}

/* Desktop */
@media (min-width: 64rem) {
  .projects > div:last-child {
    margin-top: -90vh;
  }

  .hero-name {
    margin-left: -10vw;
  }

  .hero-sub {
    margin-left: -8.5vw;
  }
}

/* Ultrawide screens */
@media (min-width: 120rem) {
  .projects > div:last-child {
    margin-top: -70vh;
  }

  .hero-section {
    scale: 1.15;
  }

  .projects {
    scale: 1.25;
  }
}
