/* Hero Section */
.hero-name {
  font-size: clamp(4rem, 10vw, 10rem);
  margin: 0;
}

.hero-sub {
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  opacity: 0.8;
}

.hero-section {
  min-height: 100svh;
  max-width: 90vw;
  margin: 0 auto;
  margin: 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: clamp(2rem, 6vw, 5rem); */
  box-sizing: border-box;
  overflow: visible;
  gap: clamp(1rem, 10vw, 9rem);
}

.hero-section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.hero-btn {
  padding: 1rem 2rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 999px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);

  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;

  cursor: pointer;
  transition: all 0.3s ease;

  box-shadow:
    0 0 20px rgba(255, 255, 255, 0.08),
    inset 0 0 20px rgba(255, 255, 255, 0.05);
}

.hero-btn:hover {
  transform: translateY(-0.5rem);
  background: rgba(255, 255, 255, 0.1);
  box-shadow:
    0 0 30px rgba(155, 120, 255, 0.4),
    inset 0 0 20px rgba(255, 255, 255, 0.1);
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Project Section */
.projects {
  margin-bottom: 30rem;
}
