.sidebar {
  display: block;
  min-height: 10vh;
  position: fixed;
  background-color: var(--arc-border);
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 999 !important;
  padding: 1rem;
  width: 100%;
  box-shadow: 0 -0.5rem 2rem var(--arc-ink);
}

.sidebar a,
.sidebar button {
  pointer-events: auto; 
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.sidebar li {
  letter-spacing: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
  text-align: center;
}

/* tablet */
@media (min-width: 48em) {
  .sidebar li {
    font-size: 1.5rem;
    font-weight: 200;
  }
}

.sidebar li.active {
  font-weight: bold;
}

.sidebar a {
  text-decoration: none;
    color: var(--text);
}

.scroll-Indicator {
  display: none;
}

/* desktop */
@media (min-width: 60em) {
  .sidebar {
    background-color: transparent;
    position: fixed;
    top: 50%;
    right: 2.5rem;
    bottom: auto;
    left: auto;
    transform: translateY(-50%);
    z-index: 10;
    padding: 0;
    width: auto;
      box-shadow: none;
  }

  .sidebar ul {
    position: relative;
    flex-direction: column;
  }

  .sidebar li {
    margin: 2rem 0;
    font-size: 2rem;
    text-align: left;
  }

  .sidebar li.active {
    color: var(--arc-quaternary);
  }

  .sidebar a {
    color: var(--text);
  }

      .scroll-Indicator svg {
    width: 30px;
  }

  .scroll-Indicator {
    display: block;
    position: fixed;
    transform: translateY(-50%);
    left: -2.5rem;
    font-size: 4rem;
    transition: top 0.4s ease-in-out;
    color: var(--arc-primary);
  }
}

@media (min-width: 120em) {
  .scroll-Indicator {
    font-size: 7rem;
        left: -3.5rem;
  }

    .scroll-Indicator svg {
    width: 50px;
  }
}