/* toggle button for dark/light theme */
.toggleBtn {
  position: fixed;
  bottom: 8rem;
  right: 1.3rem;
  width: clamp(3.5rem, 5vw, 5rem);
  height: clamp(3.5rem, 5vw, 5rem);
  border-radius: 50%;
  border: 1px solid var(--arc-border);
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--arc-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
  transition: all 0.9s ease;
  animation: bounce 4s infinite;
}

.toggleBtn:hover {
  box-shadow: 0 0 10px var(--accent);
  background-color: (--arc-secondary);
  background-color: rgba(255, 255, 255, 0.05);
}

@media (min-width: 60em) {
  .toggleBtn {
    bottom: auto;
    top: 1rem;
    right: 1rem;
    animation: none;
  }
}
